{% extends 'base.html' %}
{% block title %}Hike List{% endblock %}

{% block body %}
    
<div class="row">

  See below list of hikes near {{input}}.

</div>
 

<div class = "row">
  <div class="col-4">

    {% for hike in hikes %}
      {% set zip = hike.zipcode | string() %} 
      {% if input == hike.city or input == zip or input == hike.name %}

      <ul class = "list-group">
        <li class="list-group-item">
          <a href="/hikeList/{{ hike.hike_id }}">
            {{ hike.name }}
          </a>
        </li>
      </ul>
      {% endif %}
    {% endfor %}

  </div>

</div>



  
{% endblock %}
