{% extends 'base.html' %}
{% block title %}Hike List{% endblock %}

{% block body %}
    

<div class="row">

See below list of hikes near {{input}}.

</div>
 

<div class = "row">
  <div class="col-4">

    {% for hike in hikes %}
      {% if input == hike.city or input == hike.zipcode or input == hike.name%}
      <ul class = "list-group">
        <li class="list-group-item">
          <a href="/hikeList/{{ hike.hike_id }}">
            {{ hike.name }}
          </a>
        </li>
      </ul>
      {% endif %}
    {% endfor %}

  </div>
<!-- 
  <div class="col-1">

    {% for hike in hikes %}
      {% if input == hike.city or input == hike.zipcode or input == hike.name%}
      <ul class = "list-group">
        <li class="list-group-item">
            {{ hike.difficulty }}
          </a>
        </li>
      </ul>
      {% endif %}
    {% endfor %}

  </div> -->
<!-- 
  <div class="col-2">

    {% for hike in hikes %}
      {% if input == hike.city or input == hike.zipcode or input == hike.name%}
      <ul class = "list-group">
        <li class="list-group-item">
            {{ hike.route_type }}
          </a>
        </li>
      </ul>
      {% endif %}
    {% endfor %}

  </div> -->

</div>




  
{% endblock %}
