<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" 
          content="width=device-width, initial-scale=1">

    

    <!-- Google Icons  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">

    <link rel="stylesheet" 
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
          crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.6.0.js"   
          integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" 
          crossorigin="anonymous"></script> 

    <!-- font for headers and body  -->
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;900&family=Roboto:wght@100;400&display=swap" rel="stylesheet">

    <!-- Script tags from getbootstrap.com -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"          
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"  
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<!-- Google Map with Search Bar  -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAL_bzgASPsBIykii9DoVNQAn3PychoOvs&callback=initAutocomplete&libraries=places&v=weekly&channel=2"
    async></script>
    <link href="/static/style.css" 
    rel="stylesheet"> 
    
    <title>
        {% block title %}{% endblock %}
    </title>

    {% block head %}{% endblock %}

  </head>

  <body>

    <nav class="navbar sticky-top navbar-custom navbar-default bg-white">

        <div class="nav navbar-nav navbar-left" id="myNavbar-home">
          <li><a href="/">Home</a></li>
        </div>

        <div class="nav navbar-nav navbar-left" id="myNavbar-flash">
          <li><div id = "flash-message"><span id="flash-msg"></span></div></li>
        </div>


        <div class="nav navbar-nav navbar-right" id="myNavbar-login">

        {% if user_login %}
          <li><a href="/logout">Logout</a></li> 
        {% endif %}


        </div>
      

    </nav>


    {% block body %}{% endblock %}

    {% block scripts %}{% endblock %}

    {% block after_body %}{% endblock %}

  </body>
  
</html>
