{% extends 'base.html' %}
{% block title %}All Bookmarks{% endblock %}

{% block body %}
  <h1>All Saved Hikes</h1>

  <ul>
    {% for bookmark in bookmarks %}
      <li>
        <div class="bookmark-list">
          <a href="/hikeList/{{hike.hike_id}}" class="bookmarks">          
          {{ bookmark.hike.name }}</a>
        <!-- </div> -->
      </li>
    {% endfor %}
  </ul>

  <h1>All Completed Hikes</h1>

  <ul>
    {% for rating in ratings %}
      <li>
      
          For {{ rating.hike.name }}<br>
          Rating: {{ rating.rating }}<br>
          Comments: {{ rating.comments }}
        </a>
      </li>
    {% endfor %}
  </ul>


{% endblock %}
