{% extends 'base.html' %}

{% block title %} Details - {{ hike.name }} {% endblock %}

{% block body %}
<h1>{{ hike.name }}</h1>
<p>City: {{ hike.city }}</p>
<p>Difficulty: {{ hike.difficulty }}</p>
Route Type: {{ hike.route_type }}<p></p>
Activities: {{ hike.activities }}<p></p>
Average Rating: {{ hike.average_rating }}


{% if session.get('user_email') %}
<form id = "bookmarks">
<h2>Bookmark this hike</h2>

<!-- action="/hikeList/{{ hike.hike_id }}/bookmark" method="POST"> -->
  <p>
    Bookmark: <br>

    <input type="radio" name="bookmark" value="False">   <!-- Hike saved = False -->
    Save This Hike<br>
    <input type="radio" name="bookmark" value="True"> <!-- Hike completed = True-->
    Completed This Hike<br>
    <button type="submit">Submit</button>
    <br> 

       <!--  hidden input of hike_id  -->
    <input id = "hidden-hike-id" type= "hidden" 
      name="hike_id" 
      value = {{ hike.hike_id }}>



  </p>
</form>

<!-- create new form  -->
<!-- 
<form input type = "hidden" name = rating>

  Rate this hike: <input type="text" id="rating" name="rating"> <br>
  Comments on this hike: <input type="text" id="comments" name="comments">

</form> -->

{% endif %}


<form id = "ratings" action="/hikeList/{{ hike.hike_id }}/bookmark" method="POST">
  <h2>Rate this hike</h2>

  <p>

    <input type="text" name="rating">   
    Rate This Hike<br>
    <input type="text" name="comments">
    Comments On This Hike<br>
    <button type="submit">Submit</button>
   
  </p>
</form>




{% block scripts %}
  <script src="/static/ratings.js"></script> 
{% endblock %}

{% endblock %}

