{% extends 'base.html' %}

{% block title %} Details - {{ hike.name }} {% endblock %}



{% block body %}

<div class="container-fluid">
  <div class = "row pt-3">
    <div class = "col-4">
      <ul class = "list-group">
        <h3>{{ hike.name }}</h3>
      </ul>
    </div>

    <div class = "col-8" id = "boomarks-header-container">
      
        <h5 id = "bookmarks-header"></h5> 
    </div>
  </div>

    <div class = "row p-3">
      <div class = "col-4">
          <li class = "list-group-item list-group-item-set bg-light">
            <h6>Hike Information: </h6>
            City: {{ hike.city }}<br>
            Route Type: {{ hike.route_type }}<br>
            Activities: 

            {% set list1 = hike.activities.split(', ') %}

            {% for item in list1 %} 
              {% set item = item.strip("'[]'") %}
              <div class = "simple-list">
                &emsp;-  {{ item }}
              </div>

            {% endfor %}

            Difficulty: {{ hike.difficulty }}<br>
            Average Rating: {{ hike.average_rating }}<br>
          </li>
        </ul>
      </div>

      <div class = "col-8">
                {% if user_login %}

        <li class = "list-group-item list-group-item-set bg-light">
        

        <form id ="bookmarks">

          <h6 id=bookmarks>Bookmark this hike:</h6>
      

            <input 
              type="radio" 
              name="bookmark" 
              value="False">   
            Save This Hike<br>


            <input 
              type="radio" 
              name="bookmark" 
              value="True"> 
            Completed This Hike<br>



              <!-- <button class = "btn btn-secondary" type="submit" value="Submit" id = "test">Submit</button>  -->



        </form>


        <form id = "ratings">

          <!-- action="/hikeList/{{ hike.hike_id }}/bookmark" method="POST" -->

          <h6 id="ratings-header">Rate this hike</h6>

          <p>

          <div class="rate">
            <input type="radio" id="star5" name="rating" value="5" />
            <label for="star5" title="text">5 stars</label>
            <input type="radio" id="star4" name="rating" value="4" />
            <label for="star4" title="text">4 stars</label>
            <input type="radio" id="star3" name="rating" value="3" />
            <label for="star3" title="text">3 stars</label>
            <input type="radio" id="star2" name="rating" value="2" />
            <label for="star2" title="text">2 stars</label>
            <input type="radio" id="star1" name="rating" value="1" />
            <label for="star1" title="text">1 star</label>
          </div>
          <br>
 </p><br>
 <p>

<input type="text" 
                name="comments" placeholder = "Comments">


 </p>
          

          <button class = "btn btn-secondary" type="submit" value="Submit" id = "test">Submit</button>
        
         

        </form>

        {% endif %}





</li>


    </div>




    </div>
  



 





    <!--  hidden input of hike_id  -->
  <div>
      <input 
     id = "hidden-hike-id" 
     type= "hidden" 
     name="hike_id" 
     value= {{ hike.hike_id }}>
  </div>


    <div class = "row pt-3">
      <div class = "col-12">
        <ul class = "list-group-map">
          <h3>Google Maps Location</h3>
          <li class = "mb-3 p-3 list-group bg-transparent">
            <div id="map"></div>
          </li>
        </ul>
      </div>
    </div>



</div>

{% endblock %}

{% block scripts %}

  <script src="/static/ratings.js"></script> 

  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

{% endblock %}


