
    <div class="row">
  
      <div class="col-6"> 

        {% if user_login %}
  
          <form id="user-bookmarks" >
  
            <h1>My Saved Hikes</h1>
            <ul class = "list-group">
                {% for bookmark in bookmarks %}
                  <a href="/hikeList/{{bookmark.hike.hike_id}}" class="bookmarks">          
                    <li class = "list-group-item"> {{ bookmark.hike.name }}
                  </a>
  
                  <a href = "#" id = "trash-bookmark">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                              <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                              <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                            </svg>
                  </a>
                {% endfor %}
            </ul>
  
          </form>
  
        {% endif %}
  
      </div>
  
      <div class="col-6">
  
        <form id = "hike-search" action="/hikeList">
  
          <h5> Search for a hike</h5>
          <input 
            id="hike-search"
            class="form-control"
            name="location-input" 
            placeholder="City, Zipcode or Name" 
            required="required"
            autocomplete="off">
          <p><input type="submit" value="Search"></p>
  
        </form>
        
      </div>
  
    </div>
  
    <div class="row">
  
      <div class="col-6">
  
        {% if user_login %}
          <form id="user-ratings">
  
            <h1>My Completed Hikes</h1>
            <ul class="list-group">
  
              {% for rating in ratings %}
                <li class="list-group-item">
                    <a href="/hikeList/{{rating.hike.hike_id}}" class="ratings">
                    {{ rating.hike.name }}<br>
                    </a>
  
                    <a href = "#" id = "trash-rating">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                              </svg>
                    </a><br>
  
                    Rating: {{ rating.rating }}<br>
                    Comments: {{ rating.comments }}
                </li>
              {% endfor %}
            </ul>
  
          </form>
  
        {% endif %}
  
      </div>
  
      <div class="col-6">
  
        {% if user_login %}
          <!-- For google map  -->
          <h3>Google Maps Location</h3>
            
          <!--The div element for the map -->
          <div id="map"></div>
        {% endif %}
  
      </div>
  
    </div>
    
   