

  <div class="row">

    <div class="col-4"> 

      <div id="user-bookmarks">

        <h5>My Saved Hikes</h5>

        <div class="list-group-homepage">

          {% if bookmarks == [] %} 
                <ul class="list-group-item list-group-item-action flex-column align-items-start list-group-item" style = "background-color: lightgray">

                <div class="d-flex w-100 justify-content-between">
                  You have not saved any hikes.
                </div>
              </ul>
          {% endif %} 

          {% for bookmark in bookmarks %}
            <ul class="list-group-item list-group-item-action flex-column align-items-start list-group-item-saved" 
              id = "li-{{bookmark.hike.hike_id}}" 
              name = "saved-bookmark">

              <div class="d-flex w-100 justify-content-between">

                
                <a href = "/hikeList/{{bookmark.hike.hike_id}}" 
                  class="mb-1">{{ bookmark.hike.name }}</a>
                <small>
                  <button 
                    class ="trash-bookmark button" 
                    value = "{{bookmark.hike.hike_id}}" 
                    style = "font-size:50px">
                    delete_outline
                  </button>
                      
                </small>
              </div>
            </ul>
          {% endfor %}
        </div>
      </div>




    </div>

    <div class="col-8">
      <div class="ui-widget">
        <form id = "hike-search" action="/hikeList" autocomplete="off">

              <h5> Search for a hike</h5>
              <p><input 
                class = "form-control"
                label for = "hike-search-bar"
                id="hike-search-bar"
                class="ui-autocomplete-input"
                name="location-input" 
                placeholder="City, Zipcode or Name" 
                required="required"
                autocomplete="off"></p>

                <p><button class = "btn btn-secondary" type="submit" value="Submit">Search</button></p>

        </form>
        
      </div>
    
    </div>

  </div>

  <div class = "row">

    <div class = "col-4">
      <h5>My Completed Hikes</h5>
    </div>

    <div class = "col-8">
      <h5>My Bookmarked Hikes</h5>
    </div>

  </div>
  <div class="row">

    <div class="col-4">


        <div id="user-ratings">


          <div class="list-group-homepage">


            {% if ratings == [] %} 
              <ul class="list-group-item list-group-item-action flex-column align-items-start list-group-item" style = "background-color: lightgray">
                <div class="d-flex w-100 justify-content-between">
                 You have not completed any hikes.
                </div>
              </ul>
            {% endif %} 

            {% for rating in ratings %}

                <ul class="list-group-item list-group-item-action flex-column align-items-start list-group-item-comp" 
                id = "li-{{rating.hike.hike_id}}" 
                name = "saved-rating">

                <div class="d-flex w-100 justify-content-between">
                  <a href = "/hikeList/{{rating.hike.hike_id}}"  class="mb-1">{{ rating.hike.name }}</a>
                  <small>
                      <button 
                      class ="trash-rating button" 
                      value = "{{rating.hike.hike_id}}" 
                      style = "font-size:50px">
                      delete_outline
                    </button>
                  </small>
                </div>
                <small class="mb-1">
                  My Rating: {{ rating.rating }}<br>
                  My Comments: {{ rating.comments }}
                </small>
              </ul>
            {% endfor %}
          </div>
        </div>









        </div>




    <div class="col-8">
      <div class="list-group-homepage">  


      

      <!-- <div class = "col-8 ">     -->
          <!-- <ul class = "list-group-item list-group-solid-item list-group-map">   -->
    
            <!-- <li class = "list-group-solid-item list-group-map">    -->
              <div id="map"></div>  
            <!-- </li>     -->
          <!-- </ul>    -->
        <!-- </div>     -->




    </div>

  </div>
  
</div>