{% extends 'base.html' %}

{% block title %}Welcome to HikeFinder{% endblock %}

{% block head %}{% endblock %} 


{% block body %}

<div class="container-fluid">

  <div class="row justify-content-center pt-3">
      <h1 id="myHeader">UNPLUG<span id="userName"></span></h1>
  </div>
  <div class="row justify-content-center pb-3">
        <h5 id="myHeader">& recharge</h5>
  </div>

<div class="homepage-loggedin">


  <div class="row">

    <div class="col-4"> 


      {% if user_login == None %}

        <form id="create-account">
          
          <h5>Create an Account</h5>
          <p>  <input class="form-control" 
                    id = "account-email"
                    type="email" 
                    name="email" 
                    required="required" 
                    placeholder="Email"></p>
          <p>  <input class="form-control" 
                    id = "account-pass"
                    type="password" 
                    name="password" 
                    required="required" 
                    placeholder="Password"></p>
          <p><button class = "btn btn-secondary" type="submit" value="Submit">Submit</button></p>

        </form>

      {% endif %}
      
      {% if user_login %}
     


      <div id="user-bookmarks">

        <h5>My Saved Hikes</h5>

        <div class="list-group">

          {% for bookmark in bookmarks %}
            <ul class="list-group-item list-group-item-action flex-column align-items-start list-group-item-warning" 
              id = "li-{{bookmark.hike.hike_id}}" 
              name = "saved-bookmark">

              <div class="d-flex w-100 justify-content-between">

                
                <a href = "/hikeList/{{bookmark.hike.hike_id}}" 
                  class="mb-1">{{ bookmark.hike.name }}</a>
                <small>
                  <button 
                    class ="trash-bookmark button" 
                    value = "{{bookmark.hike.hike_id}}" 
                    style = "font-size:50px">
                    delete_outline

                  </button>
                      
                </small>
              </div>
            </ul>
          {% endfor %}
        </div>
      </div>

      {% endif %}



    </div>

    <div class="col-8">
      <div class="ui-widget">
        <form id = "hike-search" action="/hikeList" autocomplete="off">

              <h5> Search for a hike</h5>
              <p><input 
                class = "form-control"
                label for = "hike-search-bar"
                id="hike-search-bar"
                class="ui-autocomplete-input"
                name="location-input" 
                placeholder="City, Zipcode or Name" 
                required="required"
                autocomplete="off"></p>

                <p><button class = "btn btn-secondary" type="submit" value="Submit">Search</button></p>

        </form>
        
      </div>
    
    </div>

  </div>

  <div class="row">

    <div class="col-4">



      {% if user_login == None %}

        <form id="user-login">

          <h5>Log In</h5>
          <!-- removed from line above  action="/login" method="POST"-->
          <p> <input class="form-control" 
                    id="login-email" 
                    type="email" 
                    name="email-login" 
                    required="required"
                    placeholder="Email"></p>
          <p> <input class="form-control" 
                    id="login-pass" 
                    type="password" 
                    name="password-login" 
                    required="required"
                    placeholder="Password"></p>
          <p><button class = "btn btn-secondary" type="submit" value="Submit">Submit</button></p> 


        </form>

      {% endif %}
      {% if user_login %}

        <div id="user-ratings">

          <h5>My Completed Hikes</h5>

          <div class="list-group">

            {% for rating in ratings %}
              <a href = "/hikeList/{{rating.hike.hike_id}}" 
                class="list-group-item list-group-item-action flex-column align-items-start active" 
                id = "li-{{rating.hike.hike_id}}" 
                name = "saved-rating">

                <div class="d-flex w-100 justify-content-between">
                  <p class="mb-1">{{ rating.hike.name }}</p>
                  <small>
                    <button 
                      class ="trash-rating" 
                      value = "{{rating.hike.hike_id}}" 
                      style = "font-size:50px"></button>
                  </small>
                </div>
                <small class="mb-1">
                  My Rating: {{ rating.rating }}<br>
                  My Comments: {{ rating.comments }}
                </small>
              </a>
            {% endfor %}
          </div>
        </div>









        </div>

      {% endif %}



    <div class="col-8">
      {% if user_login %}

      <div class = "row pt-3">
        <div class = "col-12">
          <ul class = "list-group">
            <h3>Google Maps Location</h3>
            <li class = "p-3 list-group-item bg-transparent border border-light rounded">
              <div id="map"></div>
            </li>
          </ul>
        </div>
      </div>

      {% endif %}

    </div>

  </div>
  
</div>
</div>


</div>
 
  <div>
    <!--  hidden input of current session email  -->
    <input 
    id = "hidden-user-email" 
    type= "hidden" 
    name="user-email" 
    value= {{ user_login }}>
  </div>


{% endblock %}
  
{% block scripts %}

  <script src="/static/home-functions.js"></script>

  <script src="/static/home.js"></script>

{% endblock %}