{% extends 'base.html' %}

{% block title %}Find a Hike{% endblock %}

{% block head %}{% endblock %} 


{% block body %}
<body background="/static/hike_2.jpg">

<div class="container-fluid">

  <div class="row">

    <div class="col-10">

      <h3 id="myHeader">Welcome to HikeFinder <span id="userName"></span></h3>
  
    </div>

  </div>

  <div class="homepage-loggedin">


  <div class="row">

    <div class="col-6"> 


      <!-- {% if user_login == None %} -->

        <form id="create-account">
          
          <h5>Create an Account</h5>
          <p>  <input class="form-control" 
                    id = "account-email"
                    type="email" 
                    name="email" 
                    required="required" 
                    placeholder="Email"></p>
          <p>  <input class="form-control" 
                    id = "account-pass"
                    type="password" 
                    name="password" 
                    required="required" 
                    placeholder="Password"></p>
          <p><input type="submit" value="Submit" id = "test"></p>

        </form>

      <!-- {% endif %} -->
      

      {% if user_login %}

        <div id="user-bookmarks" >

          <h1>My Saved Hikes</h1>
          <ul class = "list-group">
            {% for bookmark in bookmarks %}
              <li class = "list-group-item" id = "li-{{bookmark.hike.hike_id}}">  
                <a href="/hikeList/{{bookmark.hike.hike_id}}" class="bookmarks" name = "saved-bookmark">          
                {{ bookmark.hike.name }}
                </a>

                  <button 
                  class ="trash-bookmark" 
                  value = "{{bookmark.hike.hike_id}}" 
                  style = "font-size:50px"></button>

              </li> 
            {% endfor %}
          </ul>
        
        </div>

      {% endif %}

    </div>

    <div class="col-6">
      <div class="ui-widget">
        <form id = "hike-search" action="/hikeList" autocomplete="off">

              <h5> Search for a hike</h5>
              <input 
                label for = "hike-search-bar"
                id="hike-search-bar"
                class="ui-autocomplete-input"
                name="location-input" 
                placeholder="City, Zipcode or Name" 
                required="required"
                autocomplete="off">
              <p><input type="submit" value="Search"></p>

        </form>
      </div>
    
    </div>

  </div>

  <div class="row">

    <div class="col-6">



      <!-- {% if user_login == None %} -->

        <form id="user-login">

          <h5>Log In</h5>
          <!-- removed from line above  action="/login" method="POST"-->
          <p> <input class="form-control" 
                    id="login-email" 
                    type="email" 
                    name="email-login" 
                    required="required"
                    placeholder="Email"></p>
          <p> <input class="form-control" 
                    id="login-pass" 
                    type="password" 
                    name="password-login" 
                    required="required"
                    placeholder="Password"></p>
          <p><input id="login-submit" 
                    type="submit" 
                    value="Submit"></p>


        </form>

      <!-- {% endif %} -->

      {% if user_login %}

        <div id="user-ratings">

          <h1>My Completed Hikes</h1>
          <ul class="list-group">
            {% for rating in ratings %}
              <li class="list-group-item" id = "li-{{rating.hike.hike_id}}">
                  <a href="/hikeList/{{rating.hike.hike_id}}" class="ratings" name = "saved-rating">
                  {{ rating.hike.name }}
                  </a>

                    <button 
                    class ="trash-rating" 
                    value = "{{rating.hike.hike_id}}" 
                    style = "font-size:50px"></button>
                  
                  Rating: {{ rating.rating }}<br>
                  Comments: {{ rating.comments }}
              </li>
            {% endfor %}
          </ul>

        </div>
      {% endif %}

    </div>

    <div class="col-6">

      <!-- {% if user_login %} -->
        <!-- For google map  -->
        <h3>Google Maps Location</h3>
          
        <!--The div element for the map -->
        <div id="map"></div>
      <!-- {% endif %} -->

    </div>

  </div>
  
</div>
  
 
  <div>
    <!--  hidden input of current session email  -->
    <input 
    id = "hidden-user-email" 
    type= "hidden" 
    name="user-email" 
    value= {{ user_login }}>
  </div>


{% endblock %}
  
{% block scripts %}

  <script src="/static/home-functions.js"></script>

  <script src="/static/home.js"></script>

{% endblock %}