<div class="row">

  <div class="col-4"> 

      <div id="user-bookmarks" >

        <h1>My Saved Hikes</h1>
        <ul class = "list-group">
          {% for bookmark in bookmarks %}
            <li class = "list-group-item" id = "li-{{bookmark.hike.hike_id}}">  
              <a href="/hikeList/{{bookmark.hike.hike_id}}" class="bookmarks" name = "saved-bookmark">          
              {{ bookmark.hike.name }}
              </a>

                <button 
                class ="trash-bookmark" 
                value = "{{bookmark.hike.hike_id}}" 
                style = "font-size:50px"></button>

            </li> 
          {% endfor %}
        </ul>
      
      </div>


  </div>

  <div class="col-8">
    <div class="ui-widget">
      <form id = "hike-search" action="/hikeList" autocomplete="off">

            <h5> Search for a hike</h5>
            <input 
              label for = "hike-search-bar"
              id="hike-search-bar"
              class="ui-autocomplete-input"
              name="location-input" 
              placeholder="City, Zipcode or Name" 
              required="required"
              autocomplete="off">
            <p><input type="submit" value="Search"></p>

      </form>
    </div>
  
  </div>

</div>

<div class="row">

  <div class="col-4">






      <div id="user-ratings">

        <h1>My Completed Hikes</h1>
        <ul class="list-group">
          {% for rating in ratings %}
            <li class="list-group-item" id = "li-{{rating.hike.hike_id}}">
                <a href="/hikeList/{{rating.hike.hike_id}}" class="ratings" name = "saved-rating">
                {{ rating.hike.name }}
                </a>

                  <button 
                  class ="trash-rating" 
                  value = "{{rating.hike.hike_id}}" 
                  style = "font-size:50px"></button>
                
                Rating: {{ rating.rating }}<br>
                Comments: {{ rating.comments }}
            </li>
          {% endfor %}
        </ul>

      </div>

  </div>

  <div class="col-8">

      <!-- For google map  -->
      <h3>Google Maps Location</h3>
        
      <!--The div element for the map -->
      <div id="map"></div>

  </div>

</div>