{% extends 'base.html' %}

{% block title %}Find a Hike{% endblock %}

{% block body %}

<div class="container-fluid">

<div class="row">
  <h1 id="myHeader">Welcome <span id="userName"></span>!</h1>
</div>


<div class="row">

  <div class="col-2"> 
    <form id="create-account" action="/users" method="POST">
    <h5>Create an Account</h5>

      <p>Email <input type="text" name="email"></p>
      <p>Password <input type="password" name="password"></p>

      <p><input type="submit" value="Submit" id = "test"></p>
    </form>
  </div>

  <div class="col-10">
    <h2>Search for a hike</h2>
    <form id = "hike-search" action="/hikeList">
      <p>Enter a zip code: <input type="text" name="zipcode" required><input type="submit" value="Search"></p>
    </form>
  </div>

</div>

<div class="row">

  <div class="col-2">
    <form id="user-login">
    <h5>Log In</h5>

      <!-- removed from line above  action="/login" method="POST"-->

      <p>Email <input id="login-email" type="text" name="email"></p>
      <p>Password <input id="login-pass" type="password" name="password"></p>

      <p><input id="login-submit" type="submit" value="Submit"></p>
    </form>
  </div>

  <div id = hike-list class="col-5">
    <h2>(hike list)</h2>
    <img src="/static/hike.jpg">
  </div>

  <div id = hike-details class="col-5">
    <h2>(hike details)</h2>  
  </div>

</div>


{% endblock %}
  
{% block scripts %}
  <script src="/static/search.js"></script>
  <script src="/static/hike_list.js"></script>
{% endblock %}